@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base sm:text-lg text-neutral-300 font-medium min-h-screen bg-neutral-900 selection:bg-primary selection:text-neutral-950 overflow-x-hidden
  }

  html {
    @apply scroll-smooth scroll-py-[3.75rem] lg:scroll-py-[5.25rem] ;
  }

  p {
    @apply leading-7
  }
}

@layer utilities {
  .focus-default {
    @apply transition-colors duration-300 focus-visible:text-primary focus-visible:outline-1 focus-visible:outline focus-visible:outline-primary focus-visible:outline-offset-2
  }
}

@layer components {
  .rings-pattern {
    @apply relative before:bg-patternRings before:bg-contain before:bg-no-repeat before:w-[33.125rem] before:h-[8.0625rem] before:absolute
  }

  .circle-pattern {
    @apply after:absolute after:h-[8.0625rem] after:w-[8.0625rem] after:bg-patternCircle after:bg-contain after:bg-no-repeat after:z-10
  }
}

/* :root {
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --fs-large-100: 3rem;
  --fs-large-200: 3.5rem;
  --fs-large-300: 4rem;
  --fs-large-400: 4.5rem;
  --fs-large-500: 5rem;
  --fs-large-600: 5.5rem;
} */

/* html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  font-weight: 500;
  line-height: var(--fs-700);
  background-color: var(--clr-neutral-600);
}

img,
picture,
figure,
svg {
  max-width: 100%;
  display: block;
} */

/* ============================ */
/* UTILITIES CLASSES */

/* .container {
  --padding: 1.5rem;
  --max-width: 69.375rem;

  max-width: calc(var(--max-width) + var(--padding) * 2);
  margin-inline: auto;
  padding-inline: var(--padding);

  display: grid;
  grid-template-columns: 1fr;
}

@media all and (min-width: 32em) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0.625rem;
  }
}

@media all and (min-width: 50em) {
  .container {
    column-gap: 1.875rem;
  }
}

.visualy-hidden {
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  color: transparent;
}

.heading-xl {
  font-size: var(--fs-large-600);
  font-weight: 700;
  line-height: var(--fs-large-600);
  letter-spacing: -2.5px;
}

.heading-l {
  font-size: var(--fs-large-100);
  font-weight: 700;
  line-height: var(--fs-large-200);
  letter-spacing: -1.5px;
}

.heading-m {
  font-size: var(--fs-600);
  font-weight: 700;
  line-height: var(--fs-800);
} */

/* ============================ */
/* BUTTONS */

/* .btn {
  display: inline-block;
  background: none;
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--clr-neutral-100);
  transition: color 250ms;

  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 2.3px;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid var(--clr-primary-400);
}

.btn:hover {
  color: var(--clr-primary-400);
} */

/* ============================ */
/* HEADER */

/* .header {
  padding-block: 2.5rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--clr-neutral-100);
} */

/* ============================ */
/* HERO */

/* .hero {
  padding-block: 5.5rem 5.9375rem;
}

.hero__content {
  position: relative;
  row-gap: 2rem;
}

.hero__description,
.hero__cta {
  grid-column: 1 / span 4;
}

.hero__title {
  grid-column: 1 / span 9;
}

.hero__title span {
  position: relative;
}

.hero__title span::after {
  content: '';
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  height: 0.375rem;
  background-color: var(--clr-primary-400);
  z-index: -1;
}

.hero__cta {
  margin-block: 2rem 8rem;
  justify-self: start;
}

.hero__image {
  grid-column: 9 / -1;

  position: absolute;
  bottom: 0;
  z-index: -1;
} */

/* ============================ */
/* EXPERIENCE */

/* .experience {
  padding-block: 4.5rem;
  position: relative;
}

.experience__content::before {
  content: '';
  position: absolute;
  top: 0;
  width: var(--max-width);
  height: 1px;
  background-color: var(--clr-neutral-100);
}

.experience__title,
.experience__list {
  grid-column: 1 / -1;
}

.experience__list {
  display: grid;
  grid-template-columns: inherit;
  column-gap: inherit;
  row-gap: 2rem;

  list-style: none;
}

.experience__item {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
} */

/* ============================ */
/* PROJECTS */

/* .projects {
  padding-block: 4.875rem 8.75rem;
}

.projects__content {
  row-gap: 5rem;
}

.projects__header,
.projects__list {
  grid-column: 1 / -1;
}

.projects__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects__list {
  list-style: none;

  display: grid;
  grid-template-columns: inherit;
  gap: inherit;
}

.projects__item {
  grid-column: span 6;
} */

/* ============================ */
/* PROJECT CARD */

/* .project {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.project__figure {
  position: relative;
}

.project__figure figcaption {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.75);
  display: grid;
  place-items: center;
  place-content: center;
  row-gap: 3rem;

  opacity: 0;
  transition: opacity 300ms ease-in;
}

.project__figure:hover figcaption {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.project__title,
.project__tag {
  text-transform: uppercase;
}

.project__tags {
  margin-top: -0.8125rem;

  display: flex;
  align-items: center;
  gap: 1.125rem;
} */

/* ============================ */
/* CONTACT */

/* .contact {
  padding-bottom: 5.75rem;
  position: relative;
}

.contact__content {
  grid-template-rows: min-content 1fr;
  row-gap: 2.25rem;
}

.contact__content::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: var(--max-width);
  height: 1px;
  background-color: var(--clr-neutral-100);
}

.contact__title,
.contact__description {
  grid-column: 1 / span 5;
}

.contact__form {
  grid-column: 8 / span 5;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form input,
.contact__form textarea {
  border: none;
  background: none;
  display: block;
  width: 100%;

  font-family: inherit;
  font-size: var(--fs-400);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.625;

  padding-inline: 1.5rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--clr-neutral-100);
}

.contact__form input:focus-visible,
.contact__form textarea:focus-visible {
  outline: none;
  border-color: var(--clr-primary-400);
}

.contact__group[data-invalid='true'] > input,
.contact__group[data-invalid='true'] > textarea {
  border-color: var(--clr-accent-400);
}

.contact__group[data-invalid='true'] > .contact__error,
.contact__group[data-invalid='true']::after {
  visibility: visible;
}

.contact__form textarea {
  height: 6.625rem;
  resize: none;
}

.contact__form .btn {
  align-self: flex-end;
}

.contact__group {
  position: relative;
}

.contact__group::after {
  content: url(../assets/images/icon-error.svg);

  position: absolute;
  top: 0;
  right: 0;

  visibility: hidden;
}

.contact__error {
  text-align: right;
  font-size: var(--fs-200);
  color: var(--clr-accent-400);
  line-height: var(--fs-400);
  letter-spacing: -0.17px;

  position: absolute;
  top: calc(100% + 5px);
  right: 0;

  visibility: hidden;
} */

/* ============================ */
/* FOOTER */

/* .footer {
  background-color: var(--clr-neutral-500);
  padding-block: 5.25rem 5.75rem;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 3rem; 
}
*/
